root = true

[*]
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 4

[{package,coffeelint}.json]
indent_size = 2

[.{scss-lint.yml,eslintrc}]
indent_size = 2

[*.{html,xml,svg,twig}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
