+meta("charset", "UTF-8")
+meta("x-ua-compatible", "IE=edge")
+meta("x-rim-auto-match", "none")
+meta("format-detection", "telephone=no,email=no,address=no")
+meta("viewport", "width=device-width,initial-scale=1")

title= title + site.separator + site.title

if description
    +meta("description", description)

link(href="/feed/", rel="alternate", type="application/rss+xml")
